---
layout: default
---

<article>
  <section class="title">
    <h2>{{ page.title }} </h2>
  </section>
  <section class="meta">
  <span class="time">
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
  {% if page.tags %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="/tags.html#{{ tag }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
  </section>
  <section class="post">
  {{ content }}
  </section>

  <script src="/media/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script> 
  <script>
    $(function(){
      $(document).keydown(function(e) {
        var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow key code
          {% if page.previous %}
          url = '{{page.previous.url}}';
          {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow key code
          {% if page.next %}
          url = '{{page.next.url}}';
          {% endif %}
        }
        if (url) {
          window.location = url;
        }
      });
    })
  </script>
</article>
